.box-content{
    background-color:rgb(255, 255, 255);
    height: 450px;
    width: 319px;
    margin-left: 40px;
    cursor: pointer;
}


.image-box{
    width: 319px;
   background-color: rgb(255, 255, 255); 
   height: 200px;

}
.title-box{
    font-size: 30px;
    color: black;
}
.text-box{
 margin-top: 10px;
    color: rgb(100, 100, 100);
    font-size: 20px;
}